### python example

In [1]:
1+1

2

In [1]:
#line continuation
total = 1+2+3+\
            4+5+6
print(total)

21

In [2]:
#multiple statements in one line
a = 5; b = 10; c = 15
print(a, b, c)

5 10 15

In [3]:
#type inference
a = 5
print(type(a))  # Output: <class 'int'>
a = 5.5
print(type(a))  # Output: <class 'float'>
a = "Hello"
print(type(a))  # Output: <class 'str'>
a = True
print(type(a))  # Output: <class 'bool'>
a = [1, 2, 3]
print(type(a))  # Output: <class 'list'>
a = (1, 2, 3)
print(type(a))  # Output: <class 'tuple'>
a = {1, 2, 3}
print(type(a))  # Output: <class 'set'>
a = {'key': 'value'}
print(type(a))  # Output: <class 'dict'>
a = None
print(type(a))  # Output: <class 'NoneType'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'NoneType'>

In [4]:
#indentation
if True:
    print("This is indented")
    if False:
        print("This won't print")   
print("This is not indented")
print(1+1)

This is indented
This is not indented
2

In [5]:
#code examples of indentation
if True:
	print("This is indented")
	if False:
		print("This won't print")
print("This is not indented")
print("this is outside if block")

This is indented
This is not indented
this is outside if block

In [6]:
#declaring and assigning variables
x = 10          # Integer
y = 3.14        # Float
name = "Alice"  # String
is_active = True # Boolean
numbers = [1, 2, 3, 4, 5] # List   
person = {"name": "Bob", "age": 30} # Dictionary
nothing = None   # NoneType

#printing variables
print("Integer:", x)   
print("Float:", y)
print("String:", name)
print("Boolean:", is_active)
print("List:", numbers)
print("Dictionary:", person)
print("NoneType:", nothing)

Integer: 10
Float: 3.14
String: Alice
Boolean: True
List: [1, 2, 3, 4, 5]
Dictionary: {'name': 'Bob', 'age': 30}
NoneType: None

In [8]:
#naming conventions
# Valid variable names
my_variable = 10
myVariable = 20
_my_variable = 30
myVariable123 = 40
MY_VARIABLE = 50
# Invalid variable names (uncommenting these will cause errors)
# 1st_variable = 60  # Starts with a number
# my-variable = 70   # Contains a hyphen
# my variable = 80  # Contains a space
# my@variable = 90  # Contains a special character
print(my_variable, myVariable, _my_variable, myVariable123, MY_VARIABLE)
#valid variable names are case-sensitive

10 20 30 40 50

In [9]:
#python is dynamically typed language, type of a variable is inferred at runtime
a = 5
print(type(a))  # Output: <class 'int'> 
a = "Hello"
print(type(a))  # Output: <class 'str'>

<class 'int'>
<class 'str'>

In [10]:
#type conversion
num_str = "123"
num_int = int(num_str)  # Convert string to integer
print(num_int, type(num_int))  # Output: 123 <class 'int'>

123 <class 'int'>

In [11]:
#invalid type conversion
# invalid_str = "abc"
# invalid_int = int(invalid_str)  # This will raise a ValueError
# print(invalid_int)

In [12]:
#dynamic typing example
#python allows changing variable types at runtime
var = 10          # Initially an integer
print(var, type(var))  # Output: 10 <class 'int'>
var = "Now I'm a string"  # Now a string
print(var, type(var))  # Output: Now I'm a string <class 'str'>

10 <class 'int'>
Now I'm a string <class 'str'>

In [14]:
#input example
user_input = input("Enter something: ")
print("You entered:", type(user_input))

You entered: <class 'str'>

In [15]:
#simple arithmetic operations
a = 10
b = 3
print("Addition:", a + b)          # Output: 13
print("Subtraction:", a - b)       # Output: 7
print("Multiplication:", a * b)    # Output: 30
print("Division:", a / b)          # Output: 3.3333...
print("Floor Division:", a // b)   # Output: 3
print("Modulus:", a % b)           # Output: 1
print("Exponentiation:", a ** b)   # Output: 1000

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [18]:
#simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum_result = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
print("Sum:", sum_result)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 86.0
Difference: 0.0
Product: 1849.0
Quotient: 1.0