In [11]:
#integer examples
a = 5
b = 10
c = a + b
d = a - b
e = a * b
f = a / b
print(c, d, e, f)
#float examples
f = 5.0
g = 10.0
h = f + g
i = f - g
j = f * g
k = f / g
print(h, i, j, k)
#mixed examples
m = a + f
n = b + g
o = c + h
p = d + i
q = e + j
r = f + k
print(m, n, o, p, q, r)
print(type(a), type(f))

#type checking examples

15 -5 50 0.5
15.0 -5.0 50.0 0.5
10.0 20.0 30.0 -10.0 100.0 5.5
<class 'int'> <class 'float'>

In [2]:
#boolean examples
t = True
u = False
v = t and u
w = t or u
x = not t
print(v, w, x)
print(type(t), type(u), type(v), type(w), type(x))

False True False
<class 'bool'> <class 'bool'> <class 'bool'> <class 'bool'> <class 'bool'>

In [3]:
#string examples
s1 = "Hello"
s2 = "World"
s3 = s1 + " " + s2
s4 = s1 * 3
print(s3, s4)
print(type(s1), type(s2), type(s3), type(s4))

Hello World HelloHelloHello
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [4]:
#list examples
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]
lst3 = lst1 + lst2
lst4 = lst1 * 2
print(lst3, lst4)
print(type(lst1), type(lst2), type(lst3), type(lst4))

[1, 2, 3, 4, 5, 6] [1, 2, 3, 1, 2, 3]
<class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [6]:
#tuple examples
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
tpl3 = tpl1 + tpl2
tpl4 = tpl1 * 2
print(tpl3, tpl4)
print(type(tpl1), type(tpl2), type(tpl3), type(tpl4))

(1, 2, 3, 4, 5, 6) (1, 2, 3, 1, 2, 3)
<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>

In [7]:
#set examples
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2)
set4 = set1.intersection(set2)
print(set3, set4)
print(type(set1), type(set2), type(set3), type(set4))

{1, 2, 3, 4, 5} {3}
<class 'set'> <class 'set'> <class 'set'> <class 'set'>

In [8]:
#dictionary examples
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {**dict1, **dict2}
print(dict3)
print(type(dict1), type(dict2), type(dict3))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
<class 'dict'> <class 'dict'> <class 'dict'>

In [9]:
#complex number examples
comp1 = 1 + 2j
comp2 = 3 + 4j
comp3 = comp1 + comp2
comp4 = comp1 * comp2
print(comp3, comp4)
print(type(comp1), type(comp2), type(comp3), type(comp4))

(4+6j) (-5+10j)
<class 'complex'> <class 'complex'> <class 'complex'> <class 'complex'>

In [10]:
#none type example
n1 = None
print(n1)
print(type(n1))

None
<class 'NoneType'>

In [ ]:
#common errors
# Uncommenting the following lines will raise errors
# print(a + s1)  # TypeError: unsupported operand type(s) for +: 'int' and 'str'
# print(lst1 + tpl1)  # TypeError: can only concatenate list (not "tuple") to list
# print(set1 + set2)  # TypeError: unsupported operand type(s) for +: 'set' and 'set'
# print(dict1 + dict2)  # TypeError: unsupported operand type(s) for +: 'dict' and 'dict'
# print(comp1 + s1)  # TypeError: unsupported operand type(s) for +: 'complex' and 'str'
# print(n1 + a)  # TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'
# print(a / 0)  # ZeroDivisionError: division by zero
# print(lst1[5])  # IndexError: list index out of range #explain - list has only 3 elements, index 5 is out of range
# print(tpl1[5])  # IndexError: tuple index out of range
# print(dict1['z'])  # KeyError: 'z'
# print(set1[0])  # TypeError: 'set' object is not subscriptable
# print(int("hello"))  # ValueError: invalid literal for int() with base 10: 'hello'
# print(float("hello"))  # ValueError: could not convert string to float: 'hello'